<footer class="footer">
    <span class="todo-count"></span>
    <ul class="filters">
        <li>
            <a routerLink="" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">All</a>
        </li>
        <li>
            <a routerLink="active" routerLinkActive="selected">Active</a>
        </li>
        <li>
            <a routerLink="completed" routerLinkActive="selected">Completed</a>
        </li>
    </ul>
    <button class="clear-completed">Clear completed</button>
</footer>